.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-logo-link {
    text-decoration: none;
}
.footer {
   background-color: var(--banner-footer-background);
   padding: 60px 0;
}

.footer-logo {
   margin-bottom: 20px;
}

.footer-address {
   font-style: normal;
}

.logo-footer-side {
   font-family: var(--logo-font);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: var(--third-text-color);
}

.footer-address-link {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--third-text-color);
   text-decoration: none;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
   color: var(--active-color);
}

}

.footer-list {
   display: inline-block;
   &:not(:last-child) {
      margin-bottom: 9px;
   }
}

.footer-contact-link {
   display: inline-block;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--footer-contact-color);
   text-decoration: none;
   margin-top: 9px;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      color: var(--active-color);
   }
   &:not(:last-child) {
      margin-bottom: 9px;}

}

/* =========Right box========= */
.right {
   margin-left: 70px;
   margin-top: 12px;
   display: flex;
   flex-direction: column;
}

.footer-right-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--third-text-color);
   margin-bottom: 20px;
}

.footer .social-list {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   margin: 0;
}

.footer .social-list-icon {
   fill: var(--third-text-color);  
}

.footer .social-list-item{
   &:not(:last-child) {
  margin-right: 10px;
}
}

.footer .social-list-link {
   background: rgba(255, 255, 255, 0.1);
&:focus,
&:hover {
   background-color: var(--active-color);
}
}

/* ========Form======== */

.footer-form {
   margin-left: 93px;
   margin-top: 12px;
   display: flex;
   flex-direction: column;
}

.footer-form-submit{
   display: flex;
   
}

.footer-form-title {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--third-text-color);
   margin-bottom: 20px;
}

.footer-form-button {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-left: 12px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: var(--third-text-color);
   background-color: var(--active-color);
   min-width: 200px;
   height: 50px;
   border-radius: 4px;
   border: none;
   cursor:pointer;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ; 
&:hover,
&:focus {
      background-color: #188ce8;
   
   }

}


.footer-form-icon {
   margin-left: 10px;
}

.footer-form-mail {
   padding: 15px 16px;
   min-width: 358px;
   height: 50px;
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   background-color: inherit;
   align-items: center;
   letter-spacing: 0.03em;
   color: var(--third-text-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;

}
